header {
    background-color: var(--primary-color);
    height: 88px;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

/* MAIN */
.product-container {
    background-color: var(--white-color);
    margin: 5px 20px 0 40px;
    border-radius: 10px;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.left-column {
    width: 55%;
    padding: 0 20px;
}

.right-column {
    width: 45%;
    padding: 0 12px 0 22px;
}

/* Left Column */
.product-gallery {
    width: 100%;
}

.product-bigImage {
    height: 336px;
    background-color: var(--white-color);
    text-align: center;
    margin: 0 0 15px;
}

.product-bigImage .product-img {
    display: none;
    width: 100%;
    height: 100%;
    align-items: center;
}

.product-bigImage .product-img.active {
    display: block;
}

.product-bigImage .product-img img {
    max-width: 600px;
    max-height: 336px;
    background-color: rgba(255, 255, 255, 0.8);
    animation: slideIn .5s ease-in-out;
}

.product-desImage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-list {
    display: inline-block;
    margin: 0 0 10px;
}

.product-list .product-img {
    height: 48px;
    width: 78px;
    border: 1px solid #ddd;
    border-radius: 2px;
    background-color: #fff;
    text-align: center;
    margin: 0 10px 0 0;
    position: relative;
    float: left;
    cursor: pointer;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.product-list .product-img.active {
    border: 2px solid var(--red-color);
}

.product-list .product-img.active img {
    border-color: var(--red-color);
}

.product-list .product-img.active:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: -12px;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom-color: var(--red-color);
    margin: 0 auto;
}

.product-list .product-img img {
    width: auto;
    max-width: 100%;
    max-height: 100%;
    padding: 2px;
    transition: border-color 0.3s ease-in-out;
}

/* Product Decription */
.product-decription {
    margin-top: 10px;
}

.product-decription h2 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #3f3f3f;
}

.product-decription ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.short-decription {
    width: calc(100% - 20px);
    margin-left: 20px;
    text-indent: -10px;
    line-height: 1.5em;
    font-size: 14px;
    margin-bottom: 10px;
    color: #3f3f3f;
}

.short-decription::before {
    content: "•";
    color: var(--red-color);
    margin-right: 5px;
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
}

/* Right Column */
/* Product TOP */
.product-top {
    width: 100%;
    margin-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}

.link-product {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.link-product a {
    font-size: 15px;
    color: #a6a6a6;
    margin-right: 5px;
}

.link-product .bx {
    font-size: 18px;
    color: #a6a6a6;
    margin-right: 5px;
}

.link-product .last-item {
    color: #3f3f3f;
}

.product-title {
    margin-bottom: 10px;
}

.product-title h1 {
    font-size: 24px;
    font-weight: 700;
    color: #3f3f3f;
    line-height: 24px;
}

.product-vote {
    display: flex;
    align-items: center;
}

.product-star-vote {
    display: flex;
    align-items: center;
}

.product-star-vote .bx {
    font-size: 20px;
    font-weight: 100;
    margin-right: 2px;
    color: #ff8400;
    cursor: pointer;
}

.product-compare__box {
    margin-left: 40px;
    display: flex;
    align-items: center;
}

.product-campare__link {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: var(--darker-blue-color);
}

.product-compare__box i {
    margin-right: 5px;
}

/* Product Information */
.product-information {
    width: 100%;
}

.product-price {
    margin-top: 5px;
}

.p-final-price {
    font-size: 28px;
    font-weight: bold;
    color: var(--dark-color);
}

.p-before-price {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.p-before-price > span {
    text-decoration: line-through;
    color: #888;
}

.p-discount-percent {
    border-radius: 5px;
    color: var(--white-color);
    background-color: var(--red-color);
    padding: 2px 5px;
    margin-right: 10px;
}

.product-installment__infor {
    margin-top: 10px;
}

.product-installment__infor span {
    font-size: 14px;
    border-radius: 5px;
    padding: 6px;
    background-color: var(--white-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

/* Button Area */
.product-button-area {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 25px;
}

.btn-buynow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: var(--white-color);
    background-color: var(--red-color);
    transition: all .2s ease;
    cursor: pointer;
}

.btn-buynow:hover {
    opacity: .7;
}

.btn-buynow .txt-main {
    font-size: 18px;
    font-weight: 700;
}

.btn-box .txt-main {
    font-size: 16px;
    font-weight: 700;
}

.txt-sub {
    font-size: 14px;
    margin-top: 4px;
}

.btn-box {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
}

.btn-addtocart {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid var(--red-color);
    color: var(--red-color);
    background-color: var(--white-color);
    transition: all .2s ease;
    cursor: pointer;
    margin-right: 10px;
}

.btn-installment {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--red-color);
    color: var(--red-color);
    background-color: var(--white-color);
    transition: all .2s ease;
    cursor: pointer;
    margin-left: 10px;
}

.btn-addtocart:hover,
.btn-installment:hover {
    border: none;
    color: var(--white-color);
    background-color: var(--red-color);
}

/* Product Specs */
.product-specs {
    background-color: var(--white-color);
    padding: 15px;
    margin: 15px 20px 0 40px;
    border-radius: 10px;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.product-specs__title {
    color: var(--dark-color);
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
}

.product-feature {
    width: 100%;
    display: flex;
    margin: 0 0 30px;
}

.specs-col-1 {
    width: 56%;
    margin: 0 50px;
    text-align: center;
    align-self: center;
    padding-top: 50px;
}

.specs-col-1 img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 700px;
}

.specs-col-2 {
    width: 32%;
    margin-right: 20px;
    padding: 50px 0 0;
}

.specs-infor {
    padding: 0 40px;
}

.specs-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.specs-title {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
}

.specs-table tbody tr td.title {
    width: 50%;
    color: #7a7d8d;
    font-size: 14px;
    line-height: 24px;
    padding-top: 20px;
}

.specs-table tbody tr td.value {
    width: 50%;
    color: #3f3f3f;
    font-size: 14px;
    line-height: 24px;
    padding-top: 20px;
}

.specs-view-full {
    display: block;
    width: 100%;
    margin-top: 50px;
    padding: 10px;
    border: 1px solid var(--red-color);
    color: var(--red-color);
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    transition: all .2s ease;
}

.specs-view-full:hover {
    border: none;
    color: var(--white-color);
    background-color: var(--red-color);
}

/* Viewed Product */
.viewed-product {
    background: var(--white-color);
    margin: 10px 20px 0 40px;
    border-radius: 10px;
}

.viewed-product__title {
    background: linear-gradient(to bottom, var(--primary-color) 0%, var(--lighter-primary-color) 100%);
    color: var(--white-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.viewed-product__title span {
    font-family: Signika, sans-serif;
    filter: drop-shadow(0 2px 0 var(--darker-blue-color));
    text-shadow: 0 3px 0 var(--darker-blue-color), -2px 0 var(--darker-blue-color), 0 2px var(--darker-blue-color), 0 -2px var(--darker-blue-color), -2px -2px var(--darker-blue-color), 3px 2px var(--darker-blue-color), -2px 2px var(--darker-blue-color), 3px -2px var(--darker-blue-color);
}

.viewed-product__container {
    display: flex;
    gap: 8px;
    justify-content: center;
    padding: 10px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}