/* Header */
header {
    background-color: var(--primary-color);
}

.header__page {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 24px;
}

.btn-return {
    font-size: 20px;
    color: var(--white-color);
    margin-left: 20px;
}

.header__brand {
    font-size: 36px;
    font-weight: bold;
    color: var(--white-color);
}
/* --- */
.row {
    display: flex;
    flex-wrap: wrap;
}

.col-25 {
    flex: 25%;
}

.col-50 {
    flex: 50%;
}

.col-75 {
    flex: 75%;
}

.col-25,
.col-50,
.col-75 {
    padding: 0 16px;
}

.container {
    background-color: var(--white-color);
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin-top: 5px;
}

input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

label {
    margin-bottom: 10px;
    display: block;
}

.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}

.btn {
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}

.btn:hover {
    background-color: #45a049;
}

a {
    color: #2196F3;
}

hr {
    border: 1px solid lightgrey;
}

.cart-title {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 500;
}

.cart-content {
    display: block;
    position: relative;
    background-color: #f9f9f9;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: default;
    transform-origin: 50% top;
    animation: submenuGrowth ease-in .2s;
    will-change: opacity, transform;
    z-index: 999;
}

@media (max-width: 800px) {
    .row {
        flex-direction: column-reverse;
    }

    .col-25 {
        margin-bottom: 20px;
    }
}